@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
* {
  box-sizing: border-box; }

body, .c-text-bold {
  font-size: 22px;
  color: #303030;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.46px; }

body {
  font-style: italic;
  background-image: url("img/bg-gradient.png");
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%; }

.gathering-realm-bg {
  background-image: url("img/gathering-realm-bg.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 559px; }

.bg-header {
  background-image: url(img/header-bg.png);
  background-position: inherit;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 570px; }

.bg-footer {
  background-image: url(img/bg-chain.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-top: -330px; }

.c-text-bold {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.54px;
  font-weight: 700; }

.c-padding, .c-padding-1 {
  padding-top: 177px; }

.c-margin {
  margin-top: -233px; }

.c-margin-3 {
  margin-top: -145px; }

.c-text-header, .c-text-header a, .c-text-header a:hover {
  font-family: "Lora", serif;
  color: #fff;
  font-size: 23px;
  letter-spacing: -0.48px;
  line-height: 30px;
  font-style: italic;
  font-weight: 700; }

.input-group-append .btn {
  z-index: 0; }

.c-btn, .c-btn:hover {
  background-color: #393939;
  color: #fff;
  font-size: 22px;
  height: 50px;
  line-height: 29px;
  letter-spacing: -0.46px;
  font-weight: 700;
  font-style: italic;
  border-color: #393939;
  border-radius: 0rem; }

.c-text-title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal; }

.c-text-title-1 {
  font-family: "Lora", serif;
  font-size: 42px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.87px; }

.c-text-header a, .c-text-header a:hover {
  color: #FF9900 !important; }

.c-nav-a {
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.46px;
  color: #FFB84C !important;
  text-transform: uppercase;
  font-style: normal; }

a, a:hover {
  color: #315890; }

.c-text-quote, .c-text-quote-1, .blockquote-footer {
  font-family: "Playfair Display", serif;
  font-size: 29px;
  line-height: 38px;
  letter-spacing: -0.6px;
  font-style: normal;
  font-weight: 700; }

.c-text-quote-1, .blockquote-footer {
  font-weight: 400;
  color: #303030 !important; }

/*.c-toggler.navbar-toggler {
    border-color: rgb(255,184,76);
}
.c-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,184,76, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}*/
.form-control {
  border-radius: 0rem; }

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
  background-color: #FF9900;
  border-color: #FF9900 !important;
  border-radius: 25px 0 0 25px;
  color: #303030;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 22px;
  height: 50px;
  line-height: 29px;
  letter-spacing: -0.46px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  font-style: italic; }

.c-image-rotate-1, .c-image-rotate-2 {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  box-shadow: -14px 0 24px 0 rgba(0, 0, 0, 0.25); }

.c-img-shadow {
  box-shadow: -14px 0 24px 0 rgba(0, 0, 0, 0.25); }

.container-relatives {
  position: relative;
  top: -290px; }

.c-margin-2 {
  margin-top: -290px; }

.c-image-rotate-2 {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }

.c-image-rotate-3, .c-image-rotate-4, .c-image-rotate-5 {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  opacity: 0.9;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  border: solid 10px #FFFAF2; }

.c-image-rotate-4 {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg); }

.c-image-rotate-5 {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg); }

.owl-theme .owl-dots .owl-dot span {
  background: #FF9900; }

.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span {
  background: #303030; }

.c-padding-2 {
  padding-top: 10px; }

.c-padding-3 {
  padding-top: 100px; }

.c-padding-4 {
  padding-top: 50px; }

@media (max-width: 1199px) {
  .c-padding-2 {
    padding-top: 0px; }

  .c-padding-3, .c-padding-4 {
    padding-top: 10px; }

  .c-margin {
    margin-top: -170px; }

  .c-margin-3 {
    margin-top: -95px; } }
@media (max-width: 991px) {
  .c-padding-1 {
    padding-top: 70px; }

  .c-txt-ctr {
    text-align: center !important; }

  .c-margin {
    margin-top: -10px; }

  .c-padding-0 {
    padding-top: 0px !important;
    margin-top: -20px; }

  .c-margin-3 {
    margin-top: 20px; } }
@media (max-width: 767px) {
  .c-padding-5 {
    padding-top: 370px; }

  .c-text-header {
    color: #303030; }

  .c-padding-0 {
    padding-top: 50px !important;
    margin-top: 0px; } }

/*# sourceMappingURL=main.css.map */
